name: Docker

on:
    push:
        branches: [main]

    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    GITHUB_IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Build Image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  # push: true
                  tags: |
                      ${{ env.GITHUB_IMAGE_NAME }}
                      ${{ env.GITHUB_IMAGE_NAME }}:${{ github.ref_name }}
